/* Skills */

#skills
{
    height: fit-content;
    padding-bottom: 20px !important;
    max-width: 1000px;
    box-sizing: border-box;
    opacity: 0;
}

#skills.animate
{
    animation: home-section-fly-in-left 0.6s ease forwards;
}

#skills .cards-container 
{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

#skills .cards-container .card 
{
    width: 30%;
    text-align: center;
    position: relative;
}

#skills .cards-container .card .card-image 
{
    width: 100% !important;
    height: auto;
    min-height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: filter 0.3s ease;
}

#skills .cards-container .card .hover-text {
    position: absolute;
    top: 30px;
    right: 30px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: opacity 0.3s ease-in-out;
}

#skills .cards-container .card .card-text 
{
    margin-top: 10px;
    text-align: start;
}

#skills .cards-container .card .card-text h2 
{
    font-size: 1.5em !important;
    margin-bottom: 5px;
}

#skills .cards-container .card .card-text p 
{
    text-align: start;
    font-size: 0.8em;
    opacity: 0.9;
}


@media (max-width: 970px) {
    
    #skills .cards-container
    {
        flex-direction: column;
    }
    #skills .cards-container .card 
    {
        width: 100%;
    }
    #skills .cards-container .card .card-image
    {
        max-height: 445px;
    }
}


@media (max-width: 450px) {

    .stats-text
    {
        display: flex !important;
        flex-direction: column;
        gap: 10px !important;
    }

    .stats-text p
    {
        margin: 0;
    }
}