:root
{
    --primary-colour: #ffffff;
    --secondary-colour: #e25809;
    --background-colour: rgb(0, 0, 0);
    --text-colour: #ffffffd2;
}

html
{
    width: 100%;
    scroll-behavior: smooth;
}

body
{
    font-family: metro;
    color: var(--text-colour);
    background-color: var(--background-colour);
    margin: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: metro;
    src: url("/public/fonts/Metropolis-Regular.otf");
}

.background-image
{
    background-image: url("/public/images/dark-cardboard.png");
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}

button
{
    background-color: #53535386;
    border: none;
    color: var(--text-colour);
    padding: 15px 27px;
    border-radius: 25px;
    margin-top: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

button:hover
{
    transform: scale(1.05);
    color: var(--secondary-colour);
}

.socials-container
{
    display: flex;
    gap: 10px;
}

.socials-container img
{
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.socials-container img:hover
{
    transform: scale(1.05);
}

.home-section
{
    text-align: center;
    margin-top: 70px;
    height: 600px;
    padding: 120px;
    position: relative;
}