.footer {
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    margin-top: 4.5rem;
    background-color: rgb(7, 7, 7);
    border: 1px solid rgba(82, 82, 82, 0.295);
    height: 100px;
    box-sizing: border-box;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

.text {
    font-size: 0.875rem;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
    width: fit-content;
}

.link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    text-wrap: nowrap;
}

.link:hover {
    color: var(--secondary-colour);
}

@media (max-width: 530px) 
{
    .footer .container
    {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 40px;
        padding-top: 20px;

    }
    .footer
    {
        height: fit-content;
        border-bottom: none;
    }
}


@media (max-width: 430px) {
    .link
    {
        font-size: 0.7rem;
    }
    .footer .container
    {
        justify-content: center;
    }
}