
.fancy {
    position: relative;
    line-height: 1;
    text-align: center;
    margin-bottom: 120px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.fancy::before,
.fancy::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: white;
    margin: 0 10px;
}

.fancy span {
    display: inline-block;
    font-size: clamp(10px, 5vw, 56px);
    white-space: nowrap;
}


.read-more
{
    display: block;
    width: 100%;
    text-align: start;
    color: var(--secondary-colour);
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
}


#home-page
{
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 7vw, 100px);
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    padding-top: clamp(40px, 11vw, 150px);
    box-sizing: border-box;
}

.home-section
{
    text-align: start;
    padding: 40px;
    position: relative;
    box-sizing: border-box;
    max-width: 1000px;
    width: min(1000px, 100%);
    background-color: rgb(7, 7, 7);
    margin: 0px auto;
    border: 1px solid rgba(82, 82, 82, 0.295);
}

@keyframes home-section-fly-in-left {

    0%
    {
        opacity: 0;
        transform: translateX(-50%);
    }

    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes home-section-fly-in-right {

    0%
    {
        opacity: 0;
        transform: translateX(50%);
    }

    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.home-section h2
{
    color: white;
    margin-top: 0;
    font-size: 2.7rem;
    opacity: 1 !important;
}


#home-page section
{
    text-align: center;
    padding: 50px;
    padding-top: 200px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding-bottom: 50px;
}

.star-icon {
    width: 20px;  
    height: 20px;
    margin-top: 25px;
}

.home-socials-container
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-socials-container .socials-container
{
    width: fit-content;
    margin-top: 30px;
}

#intro-section {
    display: flex;
    flex-direction: column;
    width: 100%;      
    padding-right: 10px;
    opacity: 0;
}

#intro-section.animate
{
    animation: home-section-fly-in-left 0.6s ease forwards;
}


#intro-section .text-container
{
    width:fit-content;
    text-align: start;
}

#intro-section img
{
    position: absolute;
    right: 20;
    bottom: 40;
    height: auto;
}

.text-logo-container
{
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    width: 100%;
}

@media (max-width: 860px) {

    #shuttle-worth-logo
    {
        display: none;
    }
}

#shuttle-worth-logo
{
    bottom: 20;
    right: 20;
    position: relative;
    width: 500px;
    margin: auto 0;
    width: 100%;
    margin-bottom: 40px;
}

#intro-section h1 {
    color: rgb(255, 255, 255);
    font-size: clamp(3rem, 10vw, 5rem); 
    overflow: hidden;
    min-height: 1em;
    line-height: 1; 
    text-align: start;
    margin-bottom: 10px;
    margin-top: 10px;
    width: fit-content;
}

.intro-section p
{
    font-size: clamp(12px, 2vw, 20px); 
    line-height: 1; 
}

#home-page .top-background-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background-image: 
        radial-gradient(circle at left bottom, black 10%, rgba(0, 0, 0, 0) 20%),
        radial-gradient(circle at right bottom, black 10%, rgba(0, 0, 0, 0) 20%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, black 98%), 
        url("/public/images/sam/IMG_7755.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Information */

#information-text {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    opacity: 0;
}

#information-text.animate
{
    animation: home-section-fly-in-right 0.6s ease forwards;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.info-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 30px;
    text-align: left;
}

@media (max-width: 970px) {
    .info-columns
    {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .info-section .socials-container
    {
        display: none;
    }
}

.info-section h3 {
    color: var(--text-colour);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.7;
}



/* Shuttle Worth */

#about-shuttleworth
{
    display: flex;
    max-width: 1000px;
    box-sizing: border-box;
    gap: 20px;
    opacity: 0;
}

#about-shuttleworth.animate
{
    animation: home-section-fly-in-right 0.6s ease forwards;
}

#about-shuttleworth .about-text
{
    margin: 0;
}

.shuttleworth-stats-container
{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 40px;
}

.shuttleworth-stats-container .stats-container .stats-text
{
    text-align: end;
}

.shuttleworth-stats-container .stats-container img
{
    width: 50px;
    height: 50px;
    margin: auto;
}

.shuttleworth-stats-container .stats-container
{
    width: fit-content;
    text-align: start;
    margin: auto;
    display: flex;
    gap: 20px;
    align-items: flex-end;
    justify-content: flex-end;
}

.shuttleworth-stats-container .stats-container h3
{
    font-size: 3rem;
    color: white;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: start;
}

.shuttleworth-stats-container .stats-container p
{
    margin-bottom: 0;
    text-wrap: nowrap;
    text-align: start;
}

.logo-image-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


@media (max-width: 1000px) {
    #about-shuttleworth
    {
        flex-direction: column;
    }
    .shuttleworth-stats-container
    {
        gap: 80px;
        margin-top: 70px;
        padding-bottom: 0;
        padding-left: 0;
    }
    .shuttleworth-stats-container .stats-container
    {
        margin-left: 0;
    }
    .shuttleworth-stats-container .stats-container div
    {
        display: flex;
        gap: 20px;
    }
}

@media (max-width: 708px) 
{
    .shuttleworth-stats-container
    {
        display: flex;
        flex-direction: column;
    }
}


/* Images */

#home-images
{
    position: relative;
    height: fit-content;
    opacity: 0;
}

#home-images.animate
{
    animation: home-section-fly-in-left 0.6s ease forwards;
}

#home-images p
{
    margin-top: 50px;
    font-size: clamp(17px, 2vw, 20px);
}

#home-images .about-shuttleworth
{
    margin-bottom: 200px;
}

.gallery-container {
    box-sizing: border-box;
    text-align: start;
    max-width: 1000px;
}



.gallery-container .button-title-container h1
{
    font-size: 2rem !important;
}

  .button-title-container
  {
    min-width: 397px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .button-title-container span
  {
    display: flex;
    align-items: center;
  }

  .button-title-container span img
  {
    margin: auto 3px;
    margin-right: 10px;
    width: clamp(3px, 3vw, 26px);
    height: auto;
  }

  .button-title-container h1
  {
    color: white;
    margin: 0 !important;
  }

  @media (max-width: 650px) {
    .button-title-container h1
    {
        font-size: 1.7rem !important;
        margin-bottom: 0 !important;
    }
    #shuttle-worth-logo
    {
        transform: scale(0.8);
    }
  }

  @media (max-width: 750px) {


    .image-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: 20px;
    }

    .button-title-container
    {
        min-width: 0px !important;
    }
}

.button-group
{
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    min-width: 250px;
}

.button-group button {
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: var(--text-colour);
    border-radius: 0px;
    background-color: transparent !important;
    height: fit-content;
    transition: none;
}

.button-group button:active,
.button-group button:focus,
.button-group button.active { /* Add this */
    color: white;
    border-bottom: 2px white solid;
}
  
.button-group button:hover
{
    transform: none !important;
    color: var(--secondary-colour);
    border-color: var(--secondary-colour);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}



.image-card {
    text-align: start;
    width: 100%;
    height: fit-content;
}

.image-card p
{
    margin: 20px 0px !important;
    text-align: start;
    margin-bottom: 10px !important;
    text-wrap: nowrap;
    overflow-x: hidden;
}

.image-card img {
    filter: grayscale(0.65);
    width: 100%;
    background-color: rgb(41, 41, 41);
    aspect-ratio: 2 / 3; /* Maintains a 2:3 width-to-height ratio */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    transition: filter 0.3s ease;
}
  
.image-card img:hover
{
    filter: grayscale(0);
}

/* About me */

#about-me
{
    height: fit-content;
    padding-bottom: 20px !important;
    max-width: 1000px;
    box-sizing: border-box;
    opacity: 0;
}

#about-me.animate
{
    animation: home-section-fly-in-left 0.6s ease forwards;
}

#about-me .bottom-curve{
    position: absolute;
    bottom: -100;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100px;
    background-color: black;
    clip-path: ellipse(60% 100% at 50% 0%);
    z-index: 100;
}

.about-text
{
    font-size: 1.2rem !important; 
    text-align: start;
    margin-top: 50px;
    opacity: 0.7;
}

#about-me .about-plane
{
    margin-top: 80px;
    width: 50%;
    animation: plane-appear 4s ease-in-out;
}

.about-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    height: fit-content;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    text-align: center;
}

.card-image {
    width: 100% !important;
    height: auto;
    min-height: 400px;
    object-fit: cover;
    filter: grayscale(0.8);
    margin-bottom: 20px;
}

.card-text {
    margin-top: 10px;
    text-align: start;
}

.card-text h2 {
    font-size: 1.5em !important;
    margin-bottom: 5px;
}

.card-text p {
    text-align: start;
    font-size: 1em;
    opacity: 0.9;
}


.card-image:hover
{
    filter: grayscale(0);
}


@media (max-width: 1000px) {
    
    #about-me
    {
        padding: 40px;
    }

    #about-me .about-plane
    {
        width: 90%;
        margin-top: 16px;
    }
}

@media (max-width: 970px) {
    
    .cards-container
    {
        flex-direction: column;
    }
    .card
    {
        width: 100%;
    }
    .card-text h2 {
        font-size: 2.5em !important;
        margin-bottom: 26px;
    }
    .card-image
    {
        max-height: 445px;
    }
}

/* Location */

#location
{
    opacity: 0;
}

#location.animate
{
    animation: home-section-fly-in-left 0.6s ease forwards;
}

.location-plane
{
    margin-top: 80px;
    width: 50%;
    animation: plane-appear 4s ease-in-out;
    margin-bottom: 80px;
}

.map
{
    box-sizing: border-box;
    margin: auto;
    margin-top: 50px;
    z-index: 2;
}

.map-location
{
    background-color: var(--background-colour);
    position: absolute;
    top: 200;
    right: 120;
    color: var(--text-colour);
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: fit-content;
    text-align: center;
    padding: 20px;
    width: fit-content;
}

.map-location h2
{
    font-size: 1.4rem !important;
    margin: 5px;
    margin-top: 5px !important;
    color: white;
    margin-bottom: 10px;
}

.map-location p
{
    font-size: 0.8rem;
}

/* Air Shows */

#air-shows {
    position: relative;
    height: fit-content;
    max-width: 1000px;
    box-sizing: border-box;
    text-align: start;
    opacity: 0;
}

#air-shows.animate
{
    animation: home-section-fly-in-right 0.6s ease forwards;
}

#air-shows .video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px;
    overflow: hidden; /* Prevents overflow */
}

.video-item {
    width: 100%; 
    max-width: 500px; /* Optional: Limit max size */
    aspect-ratio: 7 / 15; 
    position: relative; /* Ensures child elements are positioned properly */
    overflow: hidden; /* Ensures videos don't break out */
    display: flex; /* Helps maintain sizing */
    align-items: start; /* Centers video vertically */
    justify-content: center; /* Centers video horizontally */
    flex-direction: column;
    
}

.video-item video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures uniformity in sizing */
    filter: grayscale(0.6);
    transition: filter 0.3s ease;
    margin-bottom: 30px;
}

.video-item .video-text{
    white-space: nowrap;  /* Prevents wrapping */
    text-overflow: ellipsis;  /* Adds "..." if the text is too long */
}


.video-item .video-text h2 {
    font-size: 2.08rem !important; /* Large text for titles */
}

.video-item .video-text p {
    font-size: clamp(17px, 2vw, 20px); 
}


.video-item video:hover
{
    filter: grayscale(0);
}

.video-item h2, .video-item p
{
    text-align: start;
}

.video-item h2
{
    margin-bottom: 20px;
    text-wrap: nowrap;
}


@media (max-width: 1120px) {

    
    #air-shows .video-container {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Reduce gap size */
    }

    #air-shows .video-item {
        width: 100%;
        max-width: 100%;
        height: auto; /* Let content define height */
        aspect-ratio: unset; /* Remove aspect ratio constraint */
    }

    #air-shows .video-item video {
        width: 100%;
        height: auto; /* Adjusts to natural height */
        max-height: 600px;
    }
}


/* Dashed Line */

.line-container {
    width: 100vw;
    box-sizing: border-box;
    max-width: calc(100vw - 22px);
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -250px);
    overflow-x: auto; /* Prevents content from wrapping */
    white-space: nowrap; /* Keeps inline elements in one line */
    flex-shrink: 0;
    z-index: -100;
    opacity: 0;
}

.line-container.animate
{
    animation: fade-in 0.6s ease-in forwards;
}

.line-container svg {
    width: 100%;
    height: 100%;
}


path {
    stroke: var(--text-colour);
    opacity: 0.4;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 10, 10; /* Creates the dashed effect */
}


@keyframes fade-in{

    0%
    {
        opacity: 0;
    }
    60%
    {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media (max-width: 1000px) {

    /* Nav bar changes */

    #top-nav-bar img
    {
        margin-right: 0px;
        transform: scale(1.3);
        transform-origin: top right;
    }

}

@keyframes flyUp {
    0%
    {
        transform: translateY(30px);
    }
    100%
    {
        transform: translateY(0);
    }
}

@keyframes plane-appear {

    0%
    {
        opacity: 0.1;
        transform: translateY(-20px) rotate(0deg);;
    }

    30%
    {
        transform: translateX(5px) rotate(-12deg);;
    }

    60%
    {
        transform: translateY(10px) rotate(7deg);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0px) rotate(0deg);;
    }
}